.App {
  text-align: center;
  font-family: 'Caveat', cursive;
}

.video {
  object-fit: cover;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: .5;
}

h1 {
  text-shadow: #FC0 1px 0 10px;
  font-size: 45px;
}

.formBox {
  margin: 20px;
}

.input {
  padding: 10px 20px;
  border: 3px solid #000;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  width: 50%;
}

.ctaBtn {
  padding: 5px;
  text-transform: uppercase;
  border: 3px solid #FFF;
  background-color: #000;
  color: #FFF;
  font-family: 'Caveat', cursive;
  font-size: 15px;
  transition: .5s;
}

.ctaBtn:hover {
  cursor: pointer;
  transition: 1s;
  border: 3px solid #000;
  background-color: #FFF;
  color: #000;
}

.recipeBox {
  margin: 5% 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #000;
  background-color: rgba(255, 255, 255, .5);
}

.recipePic {
  border: 2px solid #000;
  max-width: 90%;
  width: 300px;
  height: auto;
  margin: 10px;
}

p {
  font-size: 18px;
}

li {
  text-decoration: none;
  font-size: 20px;
  text-align: start;
  /* list-style: none; */
  margin-right: 5px;
}

.recipeTxt {
  width: 300px;
}

a {
  color: #000;
}

@media all and (max-width: 800px) {
  .recipeBox {
    margin: 5%;
  }
}